.Rproj.user
.Rhistory
.RData
.Ruserdata
MotherData
Output
Objects
Manuscript/Figures
Manuscript/LaTeX
Manuscript/Reviews
Manuscript/Tables
Figures/General
Manuscript/*.docx
Manuscript/*.pdf
Manuscript/*.txt
Figures/Final
Figures/Submission
Robertmail
Misc
Raw/Upload
Raw/Deep
Raw/Bioassay
